@import url(https://fonts.googleapis.com/earlyaccess/notosanstc.css);

.wrap{
	font-family: 'Noto Sans TC', sans-serif;
	width: 900px;
	margin: 0 auto;
}
.header{
	background-color: #f6f6f6;
}
.clearfix{
	clear: both;
}
.social{
	float: right;
}
.social li{
	float: left;
	margin: 6px;
}
.social li a{
	text-decoration: none;
}
.social li img{
	margin-right: 5px;
	margin-top: 1px;
	float: left;
}
.fb{
	border-right: 2px solid #cccccc;
	padding-right: 8px;
}
.fb span{
	color: #4460A0;
}
.tt span{
	color: #00AAEC;
}
.logo{
	float: left;
}
.logo h1 a{
	display: block;
	width: 225px;
	height: 50px;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background: url("../img/logo.png");
}
.menu{
	float: right;
	margin-top: 15px;
}
.menu li{
	float: left;	
}
.menu li a{
	display: block;
	text-decoration: none;
	width: 90px;
	height: 40px;
	padding-top: 4px;
	color: #00CC99;
	text-align: center;
	box-sizing: border-box;
}
.menu a:hover{
	border-bottom: 3px solid #00CC99;
}
.banner{
	background: url("../img/banner.png");
	background-size: cover;
	height: 360px;
	padding-top: 100px;
	box-sizing: border-box;
}
.title{
	color: white;
	font-size: 30px;
	padding-top: 50px;
	padding-bottom: 50px;
	padding-left: 25px;
	line-height: 1.5;
	background-color: rgb(0, 0, 0, 0.5);
}
.lesson{
	display: flex;
	margin: 50px auto;
}
.item{
	display: block;
	float: left;
	width: 250px;
	height: 300px;
	padding: 15px;
	margin: 0 10px;
	box-shadow: 1px 1px 2px grey;
}
.item img{
	width: 250px;
}
.item h3{
	font-weight: bold;
	margin: 10px auto;
	text-align: center;
}
.item p, .item ul{
	text-align: justify;
	font-size: 14px;
	line-height: 1.4;
}
.item ul{
	list-style: disc;
	margin-left: 15px;
	margin-top: 5px;
}
.differ h3{
	font-weight: bold;
	margin: 10px auto;
	font-size: 20px;
	text-align: center;
}
.differ table{
	margin: 40px auto;
	font-size: 14px;
}
.differ th, .differ td{
	padding: 10px;
	border-top: 1px solid grey;
	border-bottom: 1px solid grey;
	width: 200px;
	text-align: left;
}
.differ th{
	font-weight: bold;
	background: #F7F7F7;
}
.differ span{
	color: #00CC99;
}
.contact{
	background: linear-gradient(#00644b, #009771);
	width: 100%;
	box-sizing: border-box;
	padding: 20px;
}
.contact h3{
	font-size: 20px;
	text-align: center;
	color: white;
	margin-bottom: 10px;
}
.contact form{
	display: flex;
	justify-content: center;
	margin: 30px auto;
}
.opt,.basic{
	width: 50%;
	padding-left: 20px;
}
#msg{
	width: 90%;
	height: 95%;
}
.in{
	display: block;
	width: 80%;
	margin-top: 8px;
	margin-bottom: 8px;
}
.contact form label{
	display: block;
	color: white;
}
.send{
	float: right;
	margin-right: 77px;
	margin-top: 5px;
	width: 60px;
	height: 30px;
	color: white;
	background: #00CC99;
	border: none;
	border-radius: 5px;
	cursor: pointer;
}
.send:hover{
	background: #00664C;
}
.footer img{
	float: left;
	margin: 20px;
}
.footer p{
	margin: 20px;
	float: right;
	line-height: 1.5;
}
.footer span{
	color: red;
}